:root {
  --primary-color: #e6e6e6;
  --secondary-color: #eba300;
  --primary-accent-color: #e7475e;
  --secondary-accent-color: #248888;
  --margin: 30px;
  --transition: 200ms;
}

body {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: var(--secondary-color);
  margin-bottom: var(--margin);
}

a {
  color: var(--secondary-accent-color);
}

a:hover {
  color: var(--primary-accent-color);
  transition-duration: var(--transition);
}

img {
  border-radius: 5px;
  max-width: 70%;
}

.footer-links {
  margin-top: var(--margin);
}

.nav-link {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.open-source {
  margin-top: var(--margin);
}
